{{ partial "head.html" . }}
  <body>
    {{ partial "gnav.html" . }}
    <div class="home-Header">
      <a class="home-Header_SiteImage" href='{{ $.Site.BaseURL }}page/about/'>
        <img id="" class="" src="{{ $.Site.BaseURL }}assets/images/common/avatar.jpg" />
      </a>
      <h1 class="home-Header_Title">{{ .Site.Title }}</h1>
    </div>
    <div class="home-Content">
      <div class="home-Content_Inner">
        <ul class="home-Content_PostList">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 10 }}
          {{ range $paginator.Pages }}
            <li class="home-Content_PostItem">
              <a class="home-Content_PostLink" href="{{ .Permalink }}">
                <span class="home-Content_PostDate">{{ .Date.Format "2006.01.02" }}</span>
                <h2 class="home-Content_PostTitle">{{ .Title }}</h2>
                <div class="home-Content_PostMeta">
                  {{ with .Params.categories }}
                    {{ if ge (len .) 1 }}
                      {{ range . }}<span class="home-Content_PostCategory">{{ . }}</span>{{ end }}
                    {{ end }}
                  {{ end }}
                  {{ with .Params.tags }}
                    {{ if ge (len .) 1 }}
                      {{ range . }}<span class="home-Content_PostTag">{{ . }}</span>{{ end }}
                    {{ end }}
                  {{ end }}
                  </div>
                <p class="home-Content_PostDescription">{{ .Description }}</p>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="home-Pager">
      <div class="home-Pager_Inner">
        <ul class="home-Pager_List">
          {{ if .Paginator.HasPrev }}
          <li class="home-Pager_Item"><a class="home-Pager_Link" href="{{ .Paginator.Prev.URL }}">Prev</a></li>
          {{ end }}
          {{ if .Paginator.HasNext }}
          <li class="home-Pager_Item"><a class="home-Pager_Link" href="{{ .Paginator.Next.URL }}">Next</a></li>
          {{ end }}
        </ul>
      </div>
    </nav>
    {{ end }}
    {{ partial "footer.html" . }}
{{ partial "foot.html" . }}